* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;



}


.alert-info {
    display: flex;
    background: rgb(150, 253, 251);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    margin: 10px;
    border-style: solid;
    border-color: lightgrey;


}

div>a {
    text-decoration: none;
    align-self: center;
}

ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 40px;
    list-style-type: none;
    background-color: lightgrey;

}
#main.main {
    text-align: left;
    padding-left: 10px;
}
.sub-section {
    text-align: left;
    padding-left: 10px;
}
h1 {
    margin-bottom: 10px;
    font-weight: bold;

}
footer {
    align-self: start;
    margin-top: 25em;
    padding-left: 10px;
}

@media screen and (min-width:576px ) {
    body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .alert-info {
        display: none;
    }

    h1 {
        text-align: left;
        padding-left: 10px;
        margin: 10px;
        margin-right: auto;
        margin-top: 50px;

    }
}
.header-img {
    display: none;
}
ul>li{
    background: none;
    display: inline-block;
    margin-top: 4em;
    margin-right: 20px;

}
ul>li:nth-child(1){
    margin-left: auto;
}
section {
    display: flex;
    flex-direction: row;
}
#main {
    display: flex;
    flex-direction: row;
    po




}
.sub-section {
   display: inline-block;
    flex-direction: row;
    bottom: 40px;
    height: 40px;

}

footer {
    display: none;
}



