* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media screen and (max-width: 576px){

}

.alert-info {
    background: lightskyblue;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    height: 50px;
}

div>a {
    text-decoration: none;
}

ul>li {
    align-content: space-evenly;
    list-style-type: none;
}

h1 {
    margin: 0;
}